.frm{
  position:fixed;
  left:75px;
  color:#d44343;
  font-family:Futura;
  font-style: italic;
  .a{
     color:#000000;
     font-style:normal;
  }
  .b{
     color:#000000;
     font-style:normal;
  }
}
